*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #332B2B;
}

header{
    background-color: #C22820;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head{
    width: 70%;
}

.cbhead{
    margin-top: 2%;
}

#logo{
    width: 7vh;
    border: black 2px solid;
    margin-right: 1%;
    float: left;
}

ul, li{
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vh;
    font-weight: normal;
}

@media (max-width: 480px) {
    ul, li{
        font-size: 1.5vh;
    }
}

a{
    text-decoration: none;
}

.caixapes{
    padding: 0vh 0 .2vh 1vh;
    border: none;
    border-radius: 15px;
}

#caixapes{
    position: relative;
    left: 5vh;
    float: right;
}

.conte{
    margin: 2.5% 0 2.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 100vh;
}

.banner{
    width: 1094px;
    height: 347px;
    background-image: url(imgs/image1.png);
    background-size: contain;
    margin-bottom: 1.7%;
}

@media (max-width: 1360px) {
    .banner{
        width: 957px; /*-273px*/
        height: 303px; /*-87px*/
    }
}

@media (max-width: 1280px) {
    .banner{
        width: 821px; /*-273px*/
        height: 260px; /*-87px*/
    }
}

@media (max-width: 854px) {
    .banner{
        width: 548px; /*-273px*/
        height: 173px; /*-87px*/
    }
}

@media (max-width: 640px) {
    .banner{
        width: 275px; /*-273px*/
        height: 86px; /*-87px*/
    }
}

.mangas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10vh;
    row-gap: 3vh;
}

.imgmanga{
    width: 180px;
    height: 300px;
    background-size: contain;
}


@media (max-width: 1360px) {
    .imgmanga{
        width: 157px; /*-45px*/
        height: 262px; /*-75px*/
    } 
}

@media (max-width: 1280px) {
    .imgmanga{
        width: 135px; /*-45px*/
        height: 225px; /*-75px*/
    } 
}

@media (max-width: 854px) {
    .imgmanga{
        width: 90px; /*-45px*/
        height: 150px; /*-75px*/
    } 
}

@media (max-width: 640px) {
    .imgmanga{
        width: 45px; /*-45px*/
        height: 75px; /*-75px*/
    } 
}

#u{
    background-image: url(imgs/manga1.png);
}

#d{
    background-image: url(imgs/manga2.png);
}

#t{
    background-image: url(imgs/manga3.png);
}

#q{
    background-image: url(imgs/manga4.png);
}

#c{
    background-image: url(imgs/manga5.png);
}

.cbfoot{
    background-color: #993833;
    padding: .5%;
}

#batata, #copy{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, .5);
    margin: 1%;
}

#copy{
    text-align: center;
}

#a-z li{
    background-color: #993833;
    padding: 3px 8px 3px 8px;
}

@media (max-width: 1280px) {
    #a-z li{
        padding: 1px 3px 1px 3px;
    }
}

@media (max-width: 640px) {
    #a-z li{
        padding: .5px 1px .5px 1px;
    }
}

@media (max-width: 480px) {
    #a-z li{
        padding: .25px .5px .25px .5px;
    }
}