*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #332B2B;
}

header{
    background-color: #C22820;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head{
    width: 70%;
}

.cbhead{
    margin-top: 2%;
}

#logo{
    width: 7vh;
    border: black 2px solid;
    margin-right: 1%;
    float: left;
}

ul, li{
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: normal;
}

a{
    text-decoration: none;
}

.caixapes{
    padding: 0vh 0 .2vh 1vh;
    border: none;
    border-radius: 15px;
}

#caixapes{
    position: relative;
    left: 5vh;
    float: right;
}

.conte{
    margin: 2.5% 0 2.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 100vh;
}

.banner{
    width: 50%;
    height: 36vh;
    background-image: url(imgs/image1.png);
    margin-bottom: 1.7%;
}

.mangas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10vh;
    row-gap: 3vh;
}

#u{
    background-image: url(imgs/manga1.png);
    width: 19vh;
    height: 31.7vh;
}

#d{
    background-image: url(imgs/manga2.png);
    width: 18vh;
    height: 31.7vh;
}

#t{
    background-image: url(imgs/manga3.png);
    width: 19vh;
    height: 31.7vh;
}

#q{
    background-image: url(imgs/manga4.png);
    width: 19vh;
    height: 31.7vh;
}

#c{
    background-image: url(imgs/manga5.png);
    width: 19vh;
    height: 31.7vh;
}

.cbfoot{
    background-color: #993833;
    padding: .5%;
}

#batata, #copy{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, .5);
    margin: 1%;
}

#copy{
    text-align: center;
}

#a-z li{
    background-color: #993833;
    padding: 0.5vh 1vh 0.5vh 1vh;
}